.main{
    margin: 2rem 7rem;
    /* height: 480px; */
}
.main h1{
    font-size: 3rem;
}

.first-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    /* height: 300px; */
}

.ab-text{
    width: 50%;
    text-align: justify;
    font-size: 1.1rem;
}
.ab-text h3{
    font-size: 2.3rem;
    padding-bottom: 1rem;
    color: #000;
}
.ab-image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}
.ab-image img{
    width: 90%;
    height: 400px;
    /* object-fit: cover; */
    border-radius: 6px;
    /* box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19); */
}
.Ab-us-btn{
    background-color: #008080;
    color: #fff;
    border-radius: 10px;
}
.Ab-us-btn:hover{
    background-color: #017878;
    color: #fff;
}
@media screen and (max-width:850px){
    .main {
        margin: 2rem 4rem;
    }
    .main h1 {
        font-size: 2rem;
    }

    .first-div {
        flex-direction: column;
        margin-top: 1rem;
    }

    .ab-text, .ab-image {
        width: 100%;
    }

    .ab-image img {
        height: 100%;
        width: 100%;
    }

    .Ab-us-btn {
        margin-top: 1rem;
    }
}  